/* estilo básico (ID) */
#corpo-portal {
    font-family: Arial, sans-serif;
    background-color: #1a1a2e;
    color: #e0e0e0;
    padding: 20px;
}

/* layout flexbox (ID) */
#container-principal {
    display: flex; /* ativa o felxbox */
    justify-content: space-between;
    gap: 30px;
    margin-top: 40px;
    flex-wrap: wrap;
}

.secao {
    flex: 1;
    min-width: 320px;
    background-color: #2c2c40;
    padding: 25px;
    border-radius: 10px;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.9);
    transition: all 0.4s ease-in-out;
}

/* efeito hover nas seções */
.secao:hover {
    background-color: #3b3b55;
    transform: translateY(-5px) scale(1.01);
}

.titulo-secao {
    font-size: 2.2rem;
    color: #00bcd4;
    border-bottom: 2px solid #00bcd4;
    padding-bottom: 10px;
    margin-bottom: 25px;
    text-align: center;
    text-shadow: 0 0 5px rgba(0, 188, 212, 0.7);
}

/* estilo das imagens */
.imagem-ilustrativa {
    width: 400px;
    height: 400px;
    border-radius: 8px;
    margin-bottom: 15px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    display: block;
    margin-left: auto;
    margin-right: auto;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* estilos únicos por seção*/
#filmes-series {
    border: 3px solid #e94e77;
    box-shadow:  0 0 15px rgba(233, 78, 119, 0.6);
}

#musica-podcast {
    border: 3px solid #5bb072;
    box-shadow: 0 0 15px rgba(91, 176, 114, 0.6);
}

#games-tech {
    border: 3px solid #4a90e2;
    box-shadow: 0 0 15px rgba(74, 144, 226, 0.6);
}